* {
    /* サイズ */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: fit-content;
    height: fit-content; */

    /* 画像 */
    image-rendering: pixelated;

    /* 文字 */
    font-size: 6dvh;
    font-family: mincho, serif;

    /* 選択系 */
    user-select: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    color: #111;

    &::backdrop {
        background-color: transparent;
    }
}

button {
    background: none;
    color: #111;
    border: none;
    font-size: 6dvh;
    padding-top: 0.15em;

    cursor: pointer;

    &:hover {
        scale: 0.95;
        opacity: 0.5;
    }
}

p {
    line-height: 1.2;
}

a {
    color: goldenrod;

    &:hover {
        opacity: 0.5;
    }
}

ruby {
    font-size: inherit;
}

rt {
    font-size: 0.7em;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 2dvh;
    background: #afafaf;
    border-radius: 1dvh;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 4dvh;
        height: 4dvh;
        background: #333;
        cursor: pointer;
        border-radius: 50%;
    }
}
