#container {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;

    overflow: hidden;
}

#error {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    position: absolute;
}

@media (orientation: portrait) {
    #container {
        display: none;
    }

    #error {
        opacity: 1;
        font-size: 10dvw;
    }
}

.loading {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    color: rgb(0, 0, 0);

    &::after {
        content: "";
        animation: loading 1.5s linear infinite;
    }
}

@keyframes loading {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

#texture {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/texture2.png);

    opacity: 0.1;

    z-index: 100000;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
    pointer-events: none !important;
}

.vale {
    position: fixed;
    top: 0;
    left: calc(-100dvw - 4em);
    width: 100dvw;
    height: 100dvh;
    background-color: #111;
    z-index: 1000;

    box-shadow: 0px 0px 4em 4em #111;
}

button.active {
    &::before {
        content: "*";
        animation: rotateX 2s infinite linear;
        line-height: 0.9;
        margin-right: 0.2em;

        animation: rotate 4s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
