#back {
    position: absolute;
    top: 0;
    left: 0;

    img {
        width: 3em;
    }
}

.page {
    x-graph {
        display: flex;
        height: 100%;
        align-items: center;

        svg {
            height: 100%;
        }
    }
}

.map-arrow-right {
    position: absolute;
    right: 0.2em;
    width: 3em;
    height: 3em;

    img {
        width: 100%;
        height: 100%;
    }
}

.map-arrow-left {
    position: absolute;
    left: 0.2em;
    width: 3em;
    height: 3em;

    img {
        width: 100%;
        height: 100%;
    }
}

.path {
    stroke: #555;
    stroke-width: 1;
    fill: transparent;
}

.stage {
    cursor: pointer;

    stroke: #111;
    stroke-width: 0.75;
    fill: whitesmoke;

    &:hover {
        fill: #ddd;
    }
}

.star-icon {
    pointer-events: none;
}

.event {
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}
