#container {
    box-shadow: 0 0 20dvh 1dvh #ffffff44 inset;
}

#back {
    position: absolute;
    top: 0;
    left: 0;

    img {
        width: 3em;
    }
}

.page {
    x-graph {
        display: flex;
        height: 100%;
        align-items: center;

        svg {
            height: 100%;
        }
    }
}

.map-arrow-right {
    position: absolute;
    right: 0.2em;
    width: 3em;
    height: 3em;

    img {
        width: 100%;
        height: 100%;
    }
}

.map-arrow-left {
    position: absolute;
    left: 0.2em;
    width: 3em;
    height: 3em;

    img {
        width: 100%;
        height: 100%;
    }
}

.path {
    stroke: #4d4b31;
    stroke-width: 1;
    fill: transparent;
}

.stage {
    cursor: pointer;

    stroke: #111;
    stroke-width: 0.75;
    fill: whitesmoke;

    &:hover {
        fill: #ddd;
    }
}

.star-icon {
    pointer-events: none;
}

.event {
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

#yuyu {
    position: absolute;
    top: 0;
    left: 0;
    width: 16dvh;
    height: 16dvh;
    pointer-events: none;

    /* transition: all 1s ease; */
    display: none;

    &:hover {
        opacity: 0.5;
    }
}

psd-viewer {
    position: absolute;
    height: 50%;
    pointer-events: none;
}

#start-button {
    position: absolute;
    right: 0;
    bottom: 0;

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    img {
        width: 50dvh;
        height: auto;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 200%;
    pointer-events: none;
    filter: sepia(0.5);
    z-index: -1;
    opacity: 0.1;
}
